body {
  padding-top: 40px;
  padding-bottom: 40px;
  /*background-color: #eee;*/
  background-color: #5d5555;
}

.form-greeting {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-greeting .form-greeting-heading,
.form-greeting .checkbox {
  margin-bottom: 10px;
}
.form-greeting .checkbox {
  font-weight: normal;
}
.form-greeting .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-greeting .form-control:focus {
  z-index: 2;
}
.form-greeting input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
